body {
    background-color: black;
    text-align: center;
    color: #00FF00;
}

#logo {
    margin-top: 20px;
}

#mainDiv {
    border: 2px solid #00FF00;
    margin: 50px;
    height: 200px;
    overflow-y: auto;
    text-align: left;
}

#canvas {
    height: 96%;
    width: 96%;
}

.fakeTerm {
    text-align: left;
    font-family: monospace;
    margin: 6px;
}

.fakeTerm output {
    font-size: 13px;
}

input {
    font-family: monospace;
    background-color: black;
    border: none;
    color: #00FF00;
    outline: none;
    font-size: 13px;
    width: 100%;
}

.fakeTerm input {
    width: 96%;
}

.prompt {
    font-size: 13px;
    display: inline;
    margin-right: 4px;
}

.commandInput {
    border-top: 2px solid #00FF00;
}

canvas:focus {
    outline: none;
}

#about {
    font-family: monospace;
    font-size: 12px;
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

a {
    color: #00FF00;
}

::-webkit-scrollbar {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #00FF00;
    border-radius: 0;
}